NODE_ENV='development'
PORT=8000
BASE_URL= 'http://localhost:8000'
API_PREFIX='/api/v1'

DATABASE_URL='postgresql://user:password@localhost:5432/db_name'

JWT_SECRET='your-jwt-secret'
JWT_ACCESS_EXPIRES_IN='6d'
JWT_REFRESH_EXPIRES_IN='5d'

PAYMENT_GATEWAY='midtrans'

MIDTRANS_SERVER_KEY='your-midtrans-server-key'
MIDTRANS_CLIENT_KEY='your-midtrans-client-key'
MIDTRANS_IS_PRODUCTION=false

MPG_BASE_URL='https://developer.bankmega.app'
MPG_PARTNER_ID='your-partner-id'
MPG_CHANNEL_ID='your-channel-id'
MPG_SECRET_KEY_PATH='./mpg_secret.key'
MPG_CLIENT_ID='your-client-id'
MPG_CLIENT_SECRET='your-client-secret'
MPG_MOCK_MODE=true

RESEND_API_KEY='re_your_api_key'
RESEND_FROM_EMAIL='Your App <onboarding@yourdomain.com>'

CLIENT_APP_URL='http://localhost:8085'

ALLOWED_ORIGINS=

SENTRY_DSN=

WALLET_DEFAULT_BALANCE=300

WEBHOOK_SHARED_SECRET='your-webhook-shared-secret-min-32-chars'
DOMAIN2_BASE_URL='http://localhost:4000'

GRAFANA_LOKI_HOST='https://logs-prod-xxx.grafana.net'
GRAFANA_LOKI_API_TOKEN='YOUR_USER_ID:YOUR_API_TOKEN'