# Dependencies
node_modules/

# Environment
.env

# Secret keys
*.key
!src/__tests__/fixtures/*.key

# Build output
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Public folder
public/

# Deploy File
deploy.sh

# Notes
notes/

.agents